.remove-btn {
    margin-right:0.5rem;
}

.fade-enter {

    opacity: 0.00;
}

.fade-enter-active {
    opacity: 1; 
    transition: opacity 2000ms ease-in; 
}
.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.0;
    transition: opacity 2000ms ease-in; 

}

.container {
    margin:10px;
}

.navbar {
    margin-bottom:20px;
}

@media (max-width: 815px) {
    body {
        background: #000;
        width: 100%;
    }
}